
body {margin:0;font-family:Garamond, serif; font-size: 2.4vw}

a.button {
  padding: 10px 35px;
  border: 0px outset buttonborder;
  border-radius: 10px;
  color: #000000;
  background-color: #D3D3D3;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, serif; font-size: 1.5vw;
  cursor: pointer;
}


.button2 {
  padding: 1rem 1rem;
  border: 3px outset buttonborder;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, serif; font-size: 1.8 rem;
  font-weight: bold;
  cursor: pointer;

}

.button3 {
  padding: 1rem 1rem;
  border: 10px outset buttonborder;
  border-radius: 5px;
  border-color: #B8860B;
  color: #FFFFFF;
  letter-spacing: 1.4px;
  background-color: #076cab;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, serif;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;

}

.button4 {
  padding: 1rem 7rem;
  border: 2px outset buttonborder;
  border-radius: 30px;
  background-color: #D3D3D3;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, serif; 
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
  


.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;
}

.active {
  background-color: #000000;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 26px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}



body {
      margin: 0;
      text-align: center;
}

.container {
    width: 92%;
    margin: auto;
    height: 100%;
    border: 2px red;
}

.container2 {
    width: 92%;
    margin: auto;
    height: 100%;
    display: inline;
}

.container3 {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    height: 100%;
    text-align: center;
    color: #B8860B;
    text-shadow: 2px 0px 0px #FFFFFF;
    font-weight: bold;
    font-family: Helvetica, serif; 
    font-size: 3rem;

}

header {
    background-color: white;
    color: black; 

hr {
    height: 6px;
    color: #000000;
    background-color: #000000;
}

h1 {
    text-align: center;  
    font-size: 5rem;
    color: black;
    -webkit-text-stroke: 0px #6D6968;
    text-shadow: 4px 2px 2px #757575;
    letter-spacing: 8px;
    background-color: ;
    padding: 30px;
}



.footer {
    width: 100%;
    height: 100px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
}
