body {


    background-color: #DCDCDC;
    margin: 25px 50px 
}

h1 {
    text-align: center;  

}

h2 {
    text-align: center;  

}

}

h3 {
    text-align: center;  

}

p {
    text-align: center;  

}
