<div class="bigfoot">

<div class="footer">
    <ul class="footer-grid">
        <li class="footer-card">
        <h3 class="footer-title">LEARN MORE</h3>
        <a href="../ABOUT/faq.html" class="footer-link">FAQ</a>
        <a href="../ABOUT/deities.html" class="footer-link">DEITIES</a>
        <a href="../ABOUT/practices.html" class="footer-link">PRACTICES</a>
        <a href="../ABOUT/origins.html" class="footer-link">ORIGIN STORY</a>
        </li>


        <li class="footer-card">
        <h3 class="footer-title">CONTACT</h3>
        <a href="mailto:churchofskunk@gmail.com" class="footer-link">EMAIL US</a>
        <br/><a href="../ABOUT/prayers.html"><img src="../PHOTOS/BRANDED/favicon2.png" width="150px"></a>
        <br><br>
        </li>

        <li class="footer-card">
        <h3 class="footer-title">GET INVOLVED</h3>
        <a href="../COMMUNITY/join.html" class="footer-link">JOIN</a>
        <a href="../COMMUNITY/news.html" class="footer-link">NEWS</a>
        <a href="../COMMUNITY/events.html" class="footer-link">EVENTS</a>
        <a href="../COMMUNITY/art.html" class="footer-link">ARTS AND CULTURE</a>
        </li>

    </ul>
</div>
</div>
