<div class="navigation">

<!--top nav-->

<div class="topnav">
    <div class="nav-links" id="navLinks">
        <a href="../index.html">home</a>
  <div class="dropdown">
    <button class="dropbtn">about</button>
        <div class="dropdown-content">
            <li class="navbuttons"><a href="../ABOUT/faq.html">faq</a></li>
            <li class="navbuttons"><a href="../ABOUT/deities.html">deities</a></li>
            <li class="navbuttons"><a href="../ABOUT/practices.html">practices</a></li>
            <li class="navbuttons"><a href="../ABOUT/origins.html">origins</a></li> 
        </div>
  </div>
  <div class="dropdown">
        <button class="dropbtn">community</button>
        <div class="dropdown-content">
            <li class="navbuttons"><a href="../COMMUNITY/members.html">members</a></li>
            <li class="navbuttons"><a href="../COMMUNITY/events.html">events</a></li>
            <li class="navbuttons"><a href="../COMMUNITY/news.html">news</a></li>
            <li class="navbuttons"><a href="../COMMUNITY/art.html">arts & culture</a></li> 
        </div>
  </div>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfsDRfyBIzU86reP4CoLUwrKKQf8oFb-uvYBqgk0LtLGtGFpA/viewform?usp=header">join</a>
    </div>
</div>


<!--hamburger-->

<div class="off-screen-menu">
  <ul>
    <li><a href="../index.html" class="navbuttons">Home</a></li>
    <li class="has-submenu">
      <input type="checkbox" id="about-toggle" class="sub-toggle">
      <label for="about-toggle" class="navbuttons">About<span class="arrow"></span></label>
    <ul class="submenu">
      <li><a href="../ABOUT/faq.html" class="navbuttons">FAQ</a></li>
      <li><a href="../ABOUT/deities.html" class="navbuttons">Deities</a></li>
      <li><a href="../ABOUT/practices.html" class="navbuttons">Practices</a></li>
      <li><a href="../ABOUT/origins.html" class="navbuttons">Origins</a></li>
    </ul>
    </li>
  <li class="has-submenu"> 
      <input type="checkbox" id="community-toggle" class="sub-toggle">
      <label for="community-toggle" class="navbuttons">Community<span class="arrow"> </span></label>
    <ul class="submenu">
      <li><a href="../COMMUNITY/members.html" class="navbuttons">Members and Leadership</a></li>
      <li><a href="../COMMUNITY/news.html" class="navbuttons">News</a></li>
      <li><a href="../COMMUNITY/events.html" class="navbuttons">Events</a></li>
      <li><a href="../COMMUNITY/art.html" class="navbuttons">Arts and Culture</a></li>
    </ul>
  </li>

    <li><a href="../COMMUNITY/join.html" class="navbuttons">Join</a></li>
  </ul>  
</div>

<nav>
      <div class="ham-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
</nav>
</div>