 <!doctype html>
<html>
  <head>
    <title> Title - Church of Skunk </title> 
    <link rel="stylesheet" href="../CSS/styles.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/nav.css">
    <link rel="icon" type="image/png" href="../PHOTOS/BRANDED/skunkfavicon.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

<header>  
  <div id="top"></div>
  <div id="navbar"></div>
  <div id="overlay" class="overlay"></div>
  <script src="../JAVA/navScript.js"></script>
</header>

<body>
<h1 class="alt-section-title">PAGE NAME</h1>



  <div id="footsies"></div>
  <script src="../JAVA/myScript.js"></script>
  </body>
</html>