body {margin:0;font-family:Garamond, serif; font-size: 2.4vw;}

a.button {
  padding: 5px 15px;
  border: 0px outset buttonborder;
  border-radius: 1px;
  color: #000000;
  background-color: #D3D3D3;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, serif; font-size: 1.5vw;
  cursor: pointer;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 26px;
}

.active {
  background-color: #000000;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 26px;    
  border: none;
  outline: none;
  color: white;
  padding: 24px 26px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 22px 26px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}



.container {
    width: 92%;
    margin: auto;
    height: 100%;
    border: red;
    background-color: #DCDCDC;
}

hr {
    height: 6px;
    color: #000000;
    background-color: #000000;
}

h1 {
    text-align: center;  
    color: white;
    -webkit-text-stroke: 0px #6D6968;
    text-shadow: 4px 2px 2px #757575;
    letter-spacing: 8px;
    background-color: #000000;
    padding: 20px;
}

h2 {
    text-align: center;  

}

}

h3 {
    text-align: center;  

}

p {
    text-align: justify;  
    padding: 20px;

}



.footer {
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 1rem;
}






.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: #DCDCDC;
  padding: 20px;
}
.grid-container > div {
  background-color: #f1f1f1;
  color: #000;
  padding: 40px;
  font-size: 26px;
  text-align: center;
}








{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

#slide1 {display:block}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-family: helvetica;
  font-size: 28px;
  padding: 0px 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #0000009F;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-family: helvetica;
  font-size: 42px;
  padding: 10px 20px;
  position: Absolute;
  top: 0;
  text-align: center;
  text-shadow: 4px 6px 4px #000000;
  letter-spacing: 4px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





